<div>
    {% for project in site.data.projects %}
    <div class="flex flex-row">
        <div class="basis-1/4 flex">
            <img class="self-center my-auto" src="{{ project.screenshot }}" alt="">
        </div>
        <div class="basis-3/4 pl-4">
            <h3 class="font-semibold">{{ project.name }}</h3>
            <p class="text-sm">{{ project.description }}</p>
        </div>
    </div>
        {% if forloop.last == false %}
        <div class="w-full my-8">
            <div class="mx-auto border-solid border-0 border-b rounded-full border-gray-300 w-3/4"></div>
        </div>
        {% endif %}
    {% endfor %}
</div>
