<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script>
        window.onload = (event) => {
            document.getElementById("years-of-experience").innerText = (new Date()).getFullYear() - 2019;
        };
    </script>
  </body>

</html>
